<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>
  Postline chat frame holder
</title>
</head>
<frameset cols="1,17,1,*,17" rows="*" border="0" frameborder="0" framespacing="0">
<frame name="ld1" noresize scrolling="no" frameborder="0" marginwidth="0" marginheight="0" src="edge.html">
<frame name="cfs" noresize scrolling="no" frameborder="0" marginwidth="0" marginheight="0" src="chat_socket_left.html">
<frame name="ld2" noresize scrolling="no" frameborder="0" marginwidth="0" marginheight="0" src="edge.html">
<frame name="cht" noresize scrolling="no" frameborder="0" marginwidth="0" marginheight="0" src="chat_frame.html">
<frame name="rcs" noresize scrolling="no" frameborder="0" marginwidth="0" marginheight="0" src="chat_scroll_right.html">
</frameset>
</html>
